.memo {
  position: relative;
  margin: 2em 2em;
  padding: 0.5em 1em;
  border: solid 1px #a9a9a9;
  background: #f5f5f5;
  max-width: 70%;
}
.memo .memo-title {
    position: absolute;
    display: inline-block;
    top: -26px;
    left: -1px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 0.8em;
    background: #a9a9a9;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.memo p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

div.simple-table table {
	width: 100%;
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	background: #ffffff;
	margin-bottom:15px;
  	margin-left: auto;
  	margin-right: auto;
     color:#000000;
}

div.simple-table table th{
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
 	padding:10px 0;
  text-align: center;
}
div.simple-table table td {
	font-size: 0.9em;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
  text-align: center;
  padding:10px 0;
}
div.simple-table table th {
	background-color: #f3f0f0;
}